<%- include("partials/header.ejs", {title: "Home"}) %> 

<body style="font-family: 'Poppins';">
    <%- include("partials/nav.ejs", {nav: 1}) %> 

    <div class="session-main">
        <p class="session-title">Change Password</p>
        <form id="pass-form" action="/change-pass" method="post">
            <input placeholder="Current Password" name="current_pass" type="password" id="current-pass" required>
            <input placeholder="New Password" name="new_pass" type="text" id="new-pass" required>
            <input placeholder="Retype New Password" name="a_new_pass" type="password" id="a-new-pass" required>
            <label for="" id="status"></label>
            <button id="change-btn" type="submit" class="btn">Change</button>
        </form>
       </div>
       <%- include("partials/foot.ejs") %>
    </body>
</html>